[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pytest = "*"
pandas = "*"
matplotlib = "*"
requests-html = "*"
peewee = "*"
coinmarketcap = "*"
pytest-watch = "*"


[requires]

python_version = "3.6"
